<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="pagina-view.css">
  <link rel="stylesheet" href="responsivo.css">
  <link rel="stylesheet" href="../cssGlobal/globalCss.css">
  <link rel="stylesheet" href="../cssGlobal/darkmode.css">
</head>
<body>

  <header>
    <ul class="header-ul">

      <a href="#">
        <li>
          <div class="logotipo-icon"></div>
        </li>
      </a>

      <a href="../home/Home.html">
        <li class="searchbar">
          <img src="../imagem/icon/search.svg" alt="icone de pesquisa"> Pesquise por titulo, gênero, tipo
        </li>
      </a>

        <li class="icon-search">
          <img src="../imagem/icon/search.svg" alt="icone de pesquisa">
        </li>
    </ul>

    <nav>
      <ul>

        <a class="header-icon" href="">
          <li><img src="../imagem/icon/send.svg" alt="desabilitado"></li>
        </a>
        <a class="header-icon" href="">
          <li><img src="../imagem/icon/notification.svg" alt="notificação"></li>
        </a>
        <a href="">
          <li><img class="icon-perfil" src="../imagem/imagem/icon1.png" alt="perfil"></li>
        </a>
      </ul>
    </nav>

  </header>
  
  <div class="geral-grid">
    <main>
  
      <video class="player"controls src="../img-promocional/[AnimesTC] Kubo-san wa Mob wo Yurusanai - 01 (1080p).mp4"></video>

      <div class="player-info">
        <ul>
          <li><h1>Kubo-san wa Mob wo Yurusanai
          </h1></li>
        </ul>

        <ul class="player-controls">
          <a href="">
            <li><img src="../imagem/icon/arrow-left.svg" alt=""></li>
          </a>
          <a href="">
            <li><img src="../imagem/icon/menu.svg" alt=""></li>
          </a>
          <a href="">
            <li><img src="../imagem/icon/arrow-right.svg" alt=""></li>
          </a>
        </ul>
      </div>
      
      <div class="sinopse">
        <h2>Resumo do episódio</h2>
        <p>Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo
          Texto ilustrativo Texto ilustrativo Texto ilustrativo
           <span class="ver-mais">Ver mais...</span></p>
      </div>

      <div class="coment-section">
        <img src="" alt="">
        <h2>Comentarios sobre o episódio: 3</h2>
        <p>Os comentarios não representam a opnião da empresa, os autores são totalmente responsaveis.</p>
      </div>


      <div class="coment">
        <img class="icon-perfil" src="../imagem/imagem/icon2.jpg" alt="">
        <div class="coment-info">
          <h5>Texto</h5>
          <p>Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo </p>

          <div class="coment-controls">
            <p>Responder</p>
            <p>Denunciar</p>
            <p>♡</p>
          </div>
        </div>
      </div>
  
      <div class="coment">
        <img class="icon-perfil" src="../imagem/imagem/icon3.jpg" alt="">
        <div class="coment-info">
          <h5>Texto</h5>
          <p>Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo </p>

          <div class="coment-controls">
            <p>Responder</p>
            <p>Denunciar</p>
            <p>♡</p>
          </div>
        </div>
      </div>

        <div class="coment">
          <img class="icon-perfil" src="../imagem/imagem/icon1.png" alt="">
          <div class="coment-info">
            <h5>Texto</h5>
            <p>Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo </p>
  
            <div class="coment-controls">
              <p>Responder</p>
              <p>Denunciar</p>
              <p>♡</p>
            </div>
          </div>
      </div>

      <div class="coment">
        <img class="icon-perfil" src="../imagem/imagem/icon1.png" alt="">
        <div class="coment-info">
          <h5>Texto</h5>
          <p>Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo Texto ilustrativo </p>

          <div class="coment-controls">
            <p>Responder</p>
            <p>Denunciar</p>
            <p>♡</p>
          </div>
        </div>
    </div>

    </main>
  
    <article>

      <div class="second-banner">

        <ul class="temporada">
          <li class="temporada-info">
            <img src="../imagem/icon/circle.svg" alt="">
            <p>1° Temporada</p>
          </li>

          <li><img src="../imagem/icon/arrow-right.svg" alt=""></li>
        </ul>

        <div class="temporadas">
          <div class="anime-item">
            <img src="../imagem/imagem/image.png" alt="">
              <div>
                <h4>Titulo do episodio</h4>
                <p>Resumo do episodio Resumo do</p>
              </div>
          </div>

          <div class="anime-item">
            <img src="../imagem/imagem/image.png" alt="">
              <div>
                <h4>Titulo do episodio</h4>
                <p>Resumo do episodio Resumo do</p>
              </div>
          </div>

          <div class="anime-item">
            <img src="../imagem/imagem/image.png" alt="">
              <div>
                <h4>Titulo do episodio</h4>
                <p>Resumo do episodio Resumo do</p>
              </div>
          </div>

          <div class="anime-item">
            <img src="../imagem/imagem/image.png" alt="">
              <div>
                <h4>Titulo do episodio</h4>
                <p>Resumo do episodio Resumo do</p>
              </div>
          </div>
        </div>

        
        



      </div>

        <div class="side-menu">
          <a class="article-icon" href="">
            <span><img src="../imagem/icon/explore.svg" alt=""><p>Escolha Aleatoria</p></span>
          </a>

          <a class="article-icon" href="">
            <span><img src="../imagem/icon/folder.svg" alt=""><p>Assistir Offline</p></span>
          </a>

          <a class="article-icon" href="">
            <span><img src="../imagem/icon/favorite.svg" alt=""><p>Meus Favoritos</p></span>
          </a>
        </div>

        <div class="community">

          <h3>Discurssões em ascensão</h3>

          <div>
            <p>Nome da discurssão</p>
            <p>90K participando</p>
            <span class="separador"></span>
          </div>

          <div>
            <p>Nome da discurssão</p>
            <p>90K participando</p>
            <span class="separador"></span>
          </div>

          <div>
            <p>Nome da discurssão</p>
            <p>90K participando</p>
            <span class="separador"></span>
          </div>

          <div>
            <p>Nome da discurssão</p>
            <p>90K participando</p>
            <span class="separador"></span>
          </div>

          <div>
            <p>Nome da discurssão</p>
            <p>90K participando</p>
            <span class="separador"></span>
          </div>
          
          <div>
            <p>Nome da discurssão</p>
            <p>90K participando</p>
            <span class="separador"></span>
          </div>


      </div>
    </article>
  

  
  </div>
  
</body>
</html>